<div class="m-3">
    <h5>Autenticação de Usuários</h5>
    <p>Informe suas credenciais de acesso.</p>
    <hr />
  
  
    <form>
      <div class="row mb-2">
        <div class="col-md-4">
          <label>Email de acesso:</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-4">
          <label>Senha de acesso:</label>
          <input type="password" class="form-control" />
        </div>
      </div>
  
  
      <div class="row mb-2">
        <div class="col">
          <input type="submit" class="btn btn-primary" value="Acessar Sistema" />
        </div>
      </div>
    </form>
  </div>
  
  
  
  
  